@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  --main-color: #e84242;
  --black-color: #0f0f0f;
  --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
  transition: 0.2s ease;
}

/*!base html codes  */
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
  background-color: white;
}
html::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: var(--black-color);
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  overflow-x: hidden;
  background-color: var(--main-color);
}

section {
  padding: 9rem 7%;
}
a {
  color: var(--black-color);
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 2rem 3.75rem;
  border-radius: 30rem;
  font-size: 1.7rem;
  color: #fff;
  background-color: var(--black-color);
  cursor: pointer;
}
.search-input {
  font-size: 1.6rem;
  color: var(--black-color);
  padding: 1rem;
  text-transform: none;
  border-radius: 3rem;
}

.btn:hover {
  opacity: 0.9;
  box-shadow: 0 0 5px 2px red;
}
.heading {
  color: #fff;
  font-size: 4rem;
  margin-bottom: 3.5rem;
  border-bottom: 0.1rem solid #fff;
  text-transform: uppercase;
}
.heading span {
  color: var(--black-color);
  text-transform: uppercase;
}
/*!base html end */

/*!Loader Spinner start  */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  border: 4px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px #192219;
  line-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2c3e50;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}
.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid white;
  border-top: 4px solid #f1c40f;
  border-right: 4px solid #f1c40f;
  border-radius: 50%;
  top: -4px;
  left: -4px;
  animation: loading 0.75s ease infinite;
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

/*!Loader Spinner end  */

/*! Header start */
.header .search-form {
  position: absolute;
  top: 115%;
  right: 7%;
  width: 50rem;
  height: 5rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 3rem;
  box-shadow: 0px 0px 25px 2px rgb(0 0 0 / 75%);
  transform: scaleY(0);
}

.header .search-form.active {
  transform: scaleY(1);
}

.header .search-form i {
  cursor: pointer;
  font-size: 2.2rem;
  margin-right: 1.5rem;
  color: var(--black-color);
}

.header .search-form input {
  width: 100%;
}

.header .logo img {
  height: 10rem;
}
.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  margin: 2rem 7%;
  border-radius: 30rem;
  box-shadow: 0px 0px 16px 2px rgba(14, 1, 1, 0.867);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header .navbar a {
  margin: 0 1rem;
  font-size: 1.8rem;
  color: var(--black-color);
  border-bottom: 0.2rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
  border-color: var(--main-color);
  padding-bottom: 0.5rem;
}

.header .buttons button {
  cursor: pointer;
  font-size: 2.5rem;
  margin-left: 2rem;
  background-color: transparent;
}
#menu-btn {
  display: none;
}

.header .card-items-container {
  position: absolute;
  top: 108%;
  width: 35rem;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

  right: -100%;
  border-radius: 2rem;
  padding: 2rem;
}
.header .card-items-container.active {
  right: 1rem;
}
.header .card-items-container .card-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
}

.header .card-items-container .kivi {
  margin-left: 1rem;
}

.header .card-items-container .card-item:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.header .card-items-container .card-item .content h3 {
  font-size: 2rem;
  color: var(--black-color);
  padding-bottom: 0.5rem;
}

.header .card-items-container .card-item .content .price {
  font-size: 1.5rem;
  color: var(--black-color);
}

.header .card-items-container .card-item img {
  height: 7rem;
}

.header .card-items-container .card-item .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--black-color);
}

.header .card-items-container .btn {
  width: 100%;
  text-align: center;
  border-radius: 1rem;
  font-size: 2rem;
}

/*! Header end */

/*!Home start  */
.home {
  position: relative;
  min-height: 100vh;
  background: url("assets/images/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: -14.3rem;
  display: flex;
  align-items: center;
  z-index: 1;
}
.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.home .content {
  max-width: 60rem;
}
.home .content h3 {
  font-size: 6rem;
  color: #fff;
}
.home .content p {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.8;
  padding: 1rem 0;
  font-family: Fraunces, serif;
  color: yellow;
}
/*!Home end  */

/*!Menu start  */
.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.menu .box-container .box {
  padding: 3rem;
  background-color: #fff;
  border-radius: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 3rem;
}

.menu .box-container .kivi img {
  padding-top: 3rem;
  width: 25.7rem;
  height: 25.7rem;
}
.menu .box-container .kfc img {
  padding-top: 2.5rem;
}
.menu .box-container .cola img {
  padding-top: 2rem;
}
.menu .box-container .nachos img {
  padding-top: 2rem;
}

.menu .box-container .box img {
  cursor: pointer;
  width: 100%;
  object-fit: cover;
}

.menu .box-container .box-bottom {
  margin-top: 0.5rem;
}
.menu .box-container .box img:hover {
  transition: 1s;
  transform: rotate(360deg);
}
.menu .box-container .box .menu-category {
  font-size: 1.4rem;
}
.menu .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
}
.menu .box-container .box .price {
  font-size: 2.5rem;
  padding: 0.5rem 0;
}
.menu .box-container .box .price span {
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 300;
}
/*!Menu end  */

/*!Products start  */
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  gap: 2.5rem;
}
.products .box-container .box {
  background-color: #fff;
  text-align: center;
  position: relative;
  border-radius: 3rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
}
.products .box-container .box .box-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 10;
}

.products .box-container .box .box-head .title {
  font-size: 1.4rem;
}
.products .box-container .box .box-head .name {
  font-size: 4rem;
  font-weight: bold;
  text-align: start;
  overflow-wrap: anywhere;
}

.products .box-container .dark-bg .box-head .name,
.products .box-container .dark-bg .box-head .title {
  color: #fff;
}
.products .box-container .dark-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: unset;
}

.products .box-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 3rem;
  transform: translate(-50% -50%);
  cursor: pointer;
}

.products .box-container img:hover {
  transform: scale(1.1);
}
.products .box-container .dark-bg img:hover {
  transform: scale(1.1);
}

.products .box-container .box-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
.products .box-container .box-bottom .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products .box-container .box-bottom .info .price {
  font-size: 3rem;
}
.products .box-container .box-bottom .info .amount {
  font-size: 1.4rem;
}

.products .box-container .dark-bg .box-bottom .info .price,
.products .box-container .dark-bg .box-bottom .info .amount {
  color: #fff;
}
.products .box-container .box-bottom .product-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 6.5rem;
  height: 6.5rem;
  border: 0.2rem solid var(--main-color);
}

.products .box-container .box-bottom .product-btn a i {
  font-size: 1.6rem;
  color: var(--main-color);
}
/*!Products end  */

/*! About section start */
.about .row {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
}
.about .row .content h3 {
  font-family: Fraunces, serif;
  font-size: 3rem;
  color: #fff;
}
.about .row .content p {
  text-align: justify;
  font-family: Fraunces, serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: yellow;
  padding: 2.8rem 0;
  line-height: 1.8;
}

.about .row img {
  border-radius: 3rem;
  object-fit: cover;
  width: 100%;
}

.about .row .content {
  flex: 1 1 60rem;
}
.website {
  cursor: pointer;
  margin-left: 1rem;
  color: blue;
}
/*! About section end */

/*!Chef section start  */

.chef-flag {
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  transform: translate(110%, -60%);
  width: 50px;
  height: 50px;
}
.chef-flag img {
  width: 100%;
  border-radius: 1rem;
}

.swiper {
  width: 50%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

.swiper-slide > img {
  width: 100%;
  height: 100%;
  background-position: center;
  border-radius: 3rem;
  object-fit: cover;
}
.swiper-slide {
  position: relative;
  text-align: center;
  line-height: 1;
  display: inline-block;
}
.swiper-slide h1 {
  position: absolute;
  bottom: 6.5rem;
  left: 51%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.swiper-slide h3 {
  position: absolute;
  bottom: 2.6rem;
  left: 52%;
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
.chefs {
  position: relative;
}
.autoplay-progress {
  position: absolute;
  transform: translateX(-250%);
  right: 0px;
  bottom: 86px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: black;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: yellow;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

/*!Chef section end  */

/*!Review start  */
.review .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.review .box-container .box {
  text-align: center;
  color: var(--border);
  padding: 3rem 2rem;
  background-color: #fff;
  border-radius: 3rem;
}

.review .box-container .box p {
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 2rem 0;
  color: black;
  text-shadow: 3px 2px 34px rgba(88, 66, 90, 1);
}

.review .box-container .box .user {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.review .box-container .box h3 {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--main-color);
}
.review .box-container .box .stars i {
  font-size: 1.5rem;
  color: gold;
}
/*!Review end  */

/*!Contact start  */
.contact .row {
  display: flex;
  background-color: var(--black-color);
  flex-wrap: wrap;
  gap: 1rem;
}
.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  text-align: center;
  padding: 5rem 2rem;
}

.contact .row form h3 {
  text-transform: uppercase;
  font-size: 3.5rem;
  color: #fff;
}

.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  border: var(--border);
}

.contact .row form .inputBox i {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background-color: transparent;
}

.contact .row form .btn {
  color: var(--main-color);
  background-color: #fff;
  font-weight: bold;
}
/*!Contact end  */

/*!Blogs section start */
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  background-color: #fff;
  border-radius: 3rem;
}
.blogs .box-container .box .image {
  overflow: hidden;
  width: 100%;
  height: 25rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
}
.blogs .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blogs .box-container .box .image img:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.blogs .box-container .box .content {
  padding: 2rem;
  text-align: center;
}
.blogs .box-container .box .content span {
  display: block;
  padding-top: 1rem;
  font-size: 2.5rem;
}
.blogs .box-container .box .content a:hover {
  color: ghostwhite;
  transition: 0.3s all ease-in-out;
}

.blogs .box-container .box .content .title {
  line-height: 1.5;
  font-size: 2.5rem;
}
.blogs .box-container .box .content p {
  color: #ccc;
  font-size: 1.6rem;
  line-height: 1.8;
  padding: 1rem 0;
}
/*!Blogs section end  */

/*! Footer start  */
.footer {
  background-color: var(--black-color);
  text-align: center;
  height: 35rem;
}
.footer .search {
  display: flex;
  justify-content: center;
}
.footer .search .search-input {
  width: 30rem;
}
.footer .search .btn-priamry {
  background-color: var(--main-color);
  padding: 1rem 2rem;
  margin-left: 1rem;
}

.footer .share {
  padding: 2rem 0;
}
.footer .share a {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  color: #fff;
  font-size: 2rem;
  border: var(--border);
  border-radius: 50%;
  margin: 0.3rem;
}
.footer .share a:hover {
  background-color: var(--main-color);
}
.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.8rem;
}
.footer .links a {
  background-color: var(--main-color);
  padding: 0.7rem 2rem;
  color: #fff;
  font-size: 2rem;
  border: var(--border);
}
.footer .links a:hover {
  background-color: var(--black-color);
  opacity: 0.7;
}
.footer .links a.active {
  background-color: var(--black-color);
}
.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: 300;
  padding-top: 1rem;

}

.footer .credit a {
  cursor: pointer;
  color: var(--main-color);
}
/*! Footer end  */

/*!Responsive start  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  .header .logo img {
    height: 7rem;
  }
  section {
    padding: 2rem;
  }
  .products .box-container .box .box-head .name {
    font-size: 3.4rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 108%;
    background-color: #fff;
    width: 30rem;
    right: -100%;
    border-radius: 2rem;
    text-align: center;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .header .navbar.active {
    right: 1rem;
  }

  .header .navbar a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2.2rem;
  }
  .header .navbar a:hover {
    transform: scale(1.1);
  }
  section {
    margin-top: 10rem;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 50%;
  }

  .home {
    min-height: 70vh;
  }
  .home .content {
    padding-top: 5rem;
  }
  .home .content h3 {
    font-size: 5rem;
    color: #fff;
  }
  .home .content p {
    padding: 2rem 0;
    font-size: 2rem;
    line-height: 1.6;
  }
  .about .row .content p {
    font-size: 1.8rem;
  }

  .header .search-form {
    right: 0;
    width: 40rem;
  }
  .swiper {
    width: 100%;
  }
  .autoplay-progress {
    bottom: 0.1rem;
    transform: translateX(-10%);
  }
  .swiper-slide h1 {
    padding: 0;
  }
  .swiper-slide h3 {
    padding: 0;
    bottom: 3.3rem;
  }
  .swiper-slide {
    height: 40rem;
  }
  .chef-flag {
    width: 40px;
    height: 40px;
  }
  .chef-flag img {
    width: 90%;
  }
  section {
    margin-top: 9rem;
  }
  .about .content {
    margin-top: 3rem;
  }

  .menu .box-container .box .box-head {
    text-align: center;
  }
  .menu .box-container .box .box-bottom .btn {
    text-align: center;
  }
  .menu .box-container .box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .credit{
    font-size: 1.8rem;
    padding: 1.2rem;
  }
}

@media (max-width: 376px) {
  .swiper-slide h3 {
    display: none;
  }
  .swiper-slide h1 {
    bottom: 3.5rem;
  }
}
.home .contact .h3 {
  font-size: 4rem;
}
.home {
  min-height: 100vh;
}

/*!Responsive end  */
